* {
    padding: 0;
    margin: 0;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(20, 14, 14);
      padding-top: 70px;
}


.navbar {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

.navbar-brand {
  font-family: "Caveat", cursive;
    font-weight: 700;
    font-size: 30px;
}
span{
    color: rgb(33, 33, 127);
}
.btn{
 color: white;
}
 
.about-me h1{

    font-family: "Caveat", cursive;
    font-weight: 700;
    font-size: 50px;

}